{% extends 'base.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

<<<<<<< HEAD
{% block content %}
=======
{% block body %}
>>>>>>> 273b3dc5a7dc47d103f3e51cc1635e6c06d06212
    <h1>Edit Reclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>

    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
